.hero {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  border: 2px solid black;
  border-radius: 20px;
  padding: 30px 15px 80px 15px;
  margin: 30px 15px;
  box-shadow: 3px 5px 0px 0px rgb(10, 10, 10);
  -webkit-box-shadow: 3px 5px 0px 0px rgb(0, 0, 0);
  -moz-box-shadow: 3px 5px 0px 0px rgb(0, 0, 0);
  transition: transform 300ms cubic-bezier(0.19, 1, 0.22, 1);
}

.title {
  text-align: center;
  font-size: 22px;
  color: var(--main_text);
}

.illustration_wrapper {
  position: relative;
  width: 42vw;
  height: 42vw;
  margin: auto;
  margin-top: 60px;
}
.illustration {
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  height: 40vw;
  width: 40vw;
  border-radius: 50%;

  background-image: url('../../img/illustration.webp');
}

.illustration_bg {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 40vw;
  width: 40vw;
  border-radius: 50%;
  background-color: var(--purple);
  border: 2px solid black;
}

.icon {
  position: absolute;
  left: 0px;
  top: 10px;
  font-size: 70px;
}

.news {
  position: relative;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 30px 15px 80px 15px;
  margin: 30px 15px;
  box-shadow: 3px 5px 0px 0px rgb(10, 10, 10);
  -webkit-box-shadow: 3px 5px 0px 0px rgb(0, 0, 0);
  -moz-box-shadow: 3px 5px 0px 0px rgb(0, 0, 0);
  overflow-x: scroll;
}

.news_title {
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  width: 80%;
}

.news_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 60px;
}

.news_item {
}

.message {
}

@media screen and (min-width: 768px) {
  .title {
    display: block;
    text-align: end;
    width: 320px;
    font-size: 30px;
  }

  .hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 60px 20px;
  }
  .icon {
    left: 0px;
    top: 40px;
  }

  .illustration_wrapper {
    width: 310px;
    height: 460px;
    margin-left: 40px;
  }
  .illustration {
    right: 25px;
    background-size: cover;
    background-position: center;
    height: 420px;
    width: 280px;
    border-radius: 150px;

    background-image: url('../../img/illustration.webp');
  }

  .illustration_bg {
    right: 0;
    top: 10px;
    height: 420px;
    width: 280px;
    border-radius: 150px;
    background-color: var(--purple);
    border: 2px solid black;
  }

  .news_list {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: auto;
    margin-top: 60px;
  }

  .news_item {
    flex: 1 1 30%;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 90px 0;
  }

  .title {
    width: 660px;
    font-size: 44px;
  }

  .illustration_wrapper {
    width: 380px;
    height: 515px;
    margin-left: 80px;
  }
  .illustration {
    right: 36px;
    height: 500px;
    width: 350px;
    border-radius: 180px;
  }

  .illustration_bg {
    right: 0;
    top: 12px;
    height: 500px;
    width: 350px;
    border-radius: 180px;
  }

  .news_title {
    font-size: 30px;
  }

  .news_list {
    margin-top: 80px;
  }
}
